name: Build docker image
on:
    workflow_call:
        outputs:
            image:
                description: 'Url to docker image'
                value: ${{ jobs.build-image.outputs.image }}
        secrets:
            NAIS_WORKLOAD_IDENTITY_PROVIDER:
                required: true

jobs:
    build-image:
        name: Build docker image
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        outputs:
            image: ${{ steps.docker-push.outputs.image }}
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6
            - name: Build and push docker image
              uses: nais/docker-build-push@v0
              id: docker-push
              with:
                  team: navno
                  project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
                  identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
