name: Build and deploy from main and create a new release
on:
    push:
        branches:
            - 'main'

jobs:
    build:
        name: Build image
        permissions:
            contents: read
            id-token: write
        uses: ./.github/workflows/build-image.yml
        secrets:
            NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

    deploy-prod-gcp:
        name: Deploy to prod-gcp
        permissions:
            contents: read
            id-token: write
        uses: ./.github/workflows/deploy-to-nais.yml
        needs: build
        with:
            image: ${{ needs.build.outputs.image }}
            cluster: prod-gcp
